html{
    font-size: 24px;
    box-sizing: border-box;
    background-color: beige;
}
.newspaper{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.name{
    font-size: 2rem;
    font-family: 'Times New Roman',serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.author{
   text-transform: uppercase;
   font-size: bold;
   margin-bottom: 20px;
   font-weight:bold;
}
.headline{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.2;
}
.sub-headline{
    font-size: 1.5em;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.4;
}
.date{
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 20px;
}
.text{
    text-align: justify;
    margin-bottom: 20px;
    line-height: 2em;
    text-indent: 20px;
    font-size: 1.2em;
}
.text::first-letter{
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    padding-top: 4px;
}
h1{
    text-align: center;
    margin-bottom: auto;
}